body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Latar belakang lebih cerah dan lembut */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="url"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1.1em;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus {
    border-color: #4CAF50; /* Border hijau saat fokus */
    outline: none;
}

input[type="file"] {
    margin-bottom: 20px; /* Memberikan jarak ke elemen berikutnya */
    display: block; /* Memastikan elemen berada di baris sendiri */
}

button {
    width: 100%;
    padding: 14px;
    color: white;
    background-color: #0ec1d8; /* Hijau terang */
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    label {
        font-size: 1em;
    }

    input[type="text"],
    input[type="number"],
    input[type="url"],
    input[type="file"],
    button {
        font-size: 1em;
    }
}
